<ul class="nav nav-sidebar">
  <li><%= link_to "My Events", admin_events_path %></li>
  <li><%= link_to "Create Event", new_admin_event_path %></li>
  <li><a href="#">Published</a></li>
  <li><a href="#">Draft</a></li>
  <li><%= link_to "Venues", admin_venues_path %></li>
</ul>
